*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(223, 19%, 93%);
    font-family: 'Rubik', sans-serif;
}

.conteiner{
    margin: 2em auto;
    width: 1000px;
}
span{
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}
.item1{
    display: flex;
    padding: 1.5em;
    width: 80%;
    height: 100px;
    max-width: 100%;
    background-color: white;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gainsboro;
    
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(223, 19%, 93%);
    width: 2em;
    margin-right: 1em;
    border-radius: 8px;
    padding: 0.5em;
    filter: saturate(3); 
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.cabecera figure{
    display:flex; 
    align-items: center;
    gap: 1.5em;         
}

.cabecera figure img{
    width: 40px;
}
.parrafo{
    font-size: 15px;
    line-height: 25px;
    color: lightslategray;
}
.conteiner2{
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    

}
.iconos{
    width: 150px;
    display: flex;
    justify-content: space-between;  
}
.delete span{
    color: #ED6368;
}
.cont-34 {
    padding-left: 2em;
    margin-left: 2 em;
    border-left: 1px solid gray;
}

.section3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.section3 img{
    width: 40px;
}
textarea{
    width: 630px;
    height: 80px;
}
.section3 button{
    background-color: hsl(238, 40%, 52%);
    color: white;
    padding: 1em 1.5em;
    font-size: 16px;
    border-radius: 10px;
    border:none;
}






